---
import "../styles/global.css";

import Layout from "../layouts/Layout.astro";
---

<Layout>
	<div class="flex h-screen">
		<div class="m-auto">
			<h1 class="text-xl">Flashcards</h1>
		</div>
	</div>
</Layout>
