---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link
			rel="icon"
			href="https://evolv.consulting/wp-content/uploads/2021/12/evolv_icon_orange-150x150.png"
			sizes="32x32"
		/>
		<link
			rel="icon"
			href="https://evolv.consulting/wp-content/uploads/2021/12/evolv_icon_orange.png"
			sizes="192x192"
		/>
		<link
			rel="apple-touch-icon"
			href="https://evolv.consulting/wp-content/uploads/2021/12/evolv_icon_orange.png"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>evolv snowflake</title>
	</head>
	<body>
		<div>
			<div class="p-5 flex justify-between">
				<img src="/snowflake-cards/evolv-logo.webp" />

				<div
					class="flex flex-row text-[#d15635] justify-center items-center"
				>
					<a class="p-2" href="/snowflake-cards">Home</a>
					<a
						class="p-2"
						href="/snowflake-cards/snowflake-sales-org-chart"
						>Org Chart</a
					>
				</div>
			</div>
			<div class="flex justify-center bg-[#242f33]">
				<div class="flex flex-row p-5">
					<img
						decoding="async"
						width="100"
						height="100"
						src="https://evolv.consulting/wp-content/uploads/2023/11/Services-Elite-150x150.png"
						class="attachment-thumbnail size-thumbnail wp-image-1675"
						alt=""
						srcset="https://evolv.consulting/wp-content/uploads/2023/11/Services-Elite-150x150.png 150w, https://evolv.consulting/wp-content/uploads/2023/11/Services-Elite-300x300.png 300w, https://evolv.consulting/wp-content/uploads/2023/11/Services-Elite-768x768.png 768w, https://evolv.consulting/wp-content/uploads/2023/11/elementor/thumbs/Services-Elite-qeq34s3b9e0ngyt0nxuihxxai9ztarivewghjn49j8.png 250w, https://evolv.consulting/wp-content/uploads/2023/11/Services-Elite.png 1024w"
						sizes="(max-width: 150px) 100vw, 150px"
					/>
					<div class="flex items-center justify-center md:w-[500px]">
						<p class="text-center text-white">
							we are a true blue elite snowflake partner focused
							on data and AI business transformation.
						</p>
					</div>
				</div>
			</div>
		</div>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
