---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link
			rel="icon"
			href="https://evolv.consulting/wp-content/uploads/2021/12/evolv_icon_orange-150x150.png"
			sizes="32x32"
		/>
		<link
			rel="icon"
			href="https://evolv.consulting/wp-content/uploads/2021/12/evolv_icon_orange.png"
			sizes="192x192"
		/>
		<link
			rel="apple-touch-icon"
			href="https://evolv.consulting/wp-content/uploads/2021/12/evolv_icon_orange.png"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>evolv snowflake</title>
	</head>
	<body>
		<div>
			<div class="p-5 flex justify-between">
				<img src="/snowflake-cards/evolv-logo.webp" />
			</div>

			<div
				class="flex flex-row text-[#d15635] justify-center items-center"
			>
			</div>
		</div>
	</body>
	<slot />
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
